################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Portfolio.Interfaces/bin/Debug/net8.0
/Portfolio.Interfaces/obj
/Portfolio.Models/bin/Debug/net8.0
/Portfolio.Models/obj
/Portfolio.Utils/bin/Debug/net8.0
/Portfolio.Utils/obj
/Portfolio.ViewModels/bin/Debug/net8.0
/Portfolio.ViewModels/obj
/Portfolio.Utils/EmailSettings.cs
/Portfolio.Interfaces/bin/Release/net8.0
/Portfolio.Models/bin/Release/net8.0
/Portfolio.Utils/bin/Release/net8.0
/Portfolio.ViewModels/bin/Release/net8.0
/Portfolio.Repositories/bin/Debug/net8.0
/Portfolio.Repositories/obj
/Portfolio.Repositories/bin/Release/net8.0
/Portfolio.Web/Logs/ErrorLogs
/Portfolio.Interfaces/bin/Debug/net9.0
/Portfolio.Models/bin/Debug/net9.0
/Portfolio.Repositories/bin/Debug/net9.0
/Portfolio.Utils/bin/Debug/net9.0
/Portfolio.ViewModels/bin/Debug/net9.0
/Portfolio.Interfaces/bin/Release/net9.0
/Portfolio.Models/bin/Release/net9.0
/Portfolio.Repositories/bin/Release/net9.0
/Portfolio.Utils/bin/Release/net9.0
/Portfolio.ViewModels/bin/Release/net9.0
