
.myContainer {
    background-color: #e9e8e6;
}

/* Apply background color only to text, email, password, and number input types */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
    background-color: #e9e8e6 !important;
}


textarea {
    background-color: #e9e8e6 !important;
}

.input-container {
    position: relative;
    margin: 10px 0;
}

.input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-box:focus {
    outline: none;
    border-color: #333;
    background-color: #e9e8e6 !important;
}

.input-box:focus + label,
.input-box:valid + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.input-box::placeholder {
    color: transparent;
}

.input-box:focus::placeholder {
    color: transparent;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #e9e8e6 !important;
    padding: 0 5px;
}

.flex-button {
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
}

/* Toggle Filter form container */
#filterFormContainer {
    margin-top: 10px;
    display: none; /* Start hidden */
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Start invisible */
    transition: transform 0.4s ease, opacity 0.4s ease; /* Smooth transition for slide and fade */
    padding-bottom: 15px;
}

#filterFormContainer.show {
    display: block; /* Show when class 'show' is added */
    transform: translateX(0); /* Slide into place */
    opacity: 1; /* Make visible */
}